# Code Owners
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

* @coderabbitai
* @osinfra-io/platform-google-cloud-landing-zone
* @osinfra-sa
